/* CSS cho danh sách sản phẩm */
.danhsach {
    margin-top: 20px; /* Khoảng cách giữa header và danh sách */
    border: 1px solid #ccc; /* Khung viền cho danh sách */
    border-radius: 5px; /* Bo tròn góc */
    padding: 10px; /* Khoảng cách bên trong danh sách */
}

.danhsach h3 {
    color: #333; /* Màu chữ cho tiêu đề */
}

.danhsach th, .danhsach td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.danhsach th {
    background-color: #f2f2f2;
    color: #333;
}
/* CSS cho nút sửa và xóa */
.danhsach .action-buttons a {
    display: inline-block;
    padding: 6px 12px;
    background-color: #081626;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin-right: 5px;
}
.danhsach {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Đảm bảo footer cố định ở cuối trang */
}
